body {
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  outline: 1px solid black;
}

/* Child Selector */
/* .container > h1 {
  color: orangered;
} */


/* General Sibling Selector */
/* #container-id ~ .container h1 {
  color: orangered;
} */


/* Adjacent Sibling Selector */
/* #container-id + .container h1 {
  color: orangered;
} */

div:not(.grid-container, .container-one) {
  background: aqua;
}